<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReportEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>525F8E1D1CC522CE005EF7ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525F8E361CC522CF005EF7ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525F8E411CC522CF005EF7ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
